
body {
    background-image: url("../img/quilt.png");
}
@font-face {
    font-family: "agencyfb";
    src: url("../fonts/AGENCYB.TTF");
}
@font-face {
    font-family: "league gothic";
    src: url("../fonts/League-Gothic.otf");
}
#header {
    background-image: url("../img/menu_bg.jpg");
    display: block;
    height: 70px;
    margin-bottom: 80px;
    margin-top: 50px;
    width: auto;
}
#social {
    float: right;
    position: absolute;
    right: 0;
    top: -30px;
}
#header #logo {
    background-image: url("../img/logo.png");
    bottom: 34px;
    float: left;
    height: 128px;
    position: relative;
    text-indent: -99999px;
    width: 128px;
    background-width:128px;
    background-height:128px;
}
#header #navi {
    float: right;
    margin-top: 25px;
}
#header #navi li {
    display: inline;
    font-family: agencyfb;
    font-size: 20px;
    margin-left: 20px;
    padding: 4px 7px 5px;
    text-transform: uppercase;
}
#header #navi li:hover {
    background-image: url("../img/navi_select.jpg");
    border-radius: 5px 5px 5px 5px;
}
.dropdown-menu li a {
    color: black !important;
    padding: 10px;
}
.dropdown-menu li:hover {
    background-image: none !important;
    border-radius: 0 0 0 0 !important;
}
.selected {
    background-image: url("../img/navi_select.jpg");
    border-radius: 5px 5px 5px 5px;
}
#header #navi li a {
    color: white;
    text-decoration: none;
}
#tagline h1 {
    font-family: 'league gothic';
    font-size: 65px;
    font-weight: normal;
    text-align: center;
}

#tagline h2 {
    font-weight:normal;
    letter-spacing:-2px;
    font-size:3em !important;
    margin-bottom:40px;
}

#tagline #above {
    bottom: 43px;
    color: #303030;
    position: relative;
    right: 6px;
}
#tagline #below {
    color: white;
}
.curly {
    bottom: 11px;
    position: relative;
}
#sub_tagline {
    font-family: georgia;
    font-size: 22px;
    font-style: italic;
    line-height: 24px;
    padding: 0 60px;
}
#featured_slider {
    border: 11px solid white;
    height: 350px;
    margin-bottom: 30px;
    margin-top: 18px;
    width: 917px;
}
.carousel-control {
    top: 50%;
}
.sect_title {
    background-image: url("../img/zig.png");
    height: 15px;
    margin-bottom: 60px;
    text-align: center;
    margin-top:50px;
}
.sect_title h3 {
    background-image: url("../img/quilt.png");
    bottom: 5px;
    color: #303030;
    display: inline;
    font-family: 'league gothic';
    font-size: 52px;
    font-weight: normal;
    opacity: 1 !important;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
}
#page {
    padding-bottom: 20px;
}
.contact_bar img {
    vertical-align: middle;
}
.contact_bar p {
    font-size: 14px;
    vertical-align: middle;
}
#services {
    margin-bottom: 40px;
}
#services .title {
    bottom: 6px;
    float: left;
    font-family: georgia;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    vertical-align: top;
    width: 250px;
}
#services img {
    float: left;
    margin: 0 10px 5px 0;
    vertical-align: top;
}
#services .subheading {
    bottom: 14px;
    color: #0088CC;
    font-size: 13px;
    font-style: italic;
    position: relative;
    clear:both;
}
#recent_work li {
    border: 1px solid white;
    float: left;
    list-style: none outside none;
    margin-right: 18px;
}
#recent_work {
    margin-bottom: 50px;
}
#recent_work li:nth-child(3n+3) {
    margin-right: 0;
}
#recent_work ul {
    margin-left: 0;
}
#recent_work li img {
    border: 7px solid white;
}
#recent_work li img:hover {
    border: 7px solid #EBEBEB;
}
#recent_work p {
    text-align: center;
}
#portfolio ul {
    margin-left: 0;
}
#portfolio li {
    float: left;
    list-style: none outside none;
    margin-bottom: 15px;
    margin-right: 14px;
}
#portfolio li img {
    border: 7px solid white;
}
#portfolio li img:hover {
    border: 7px solid #EBEBEB;
}
#portfolio li:nth-child(3n+3) {
    margin-right: 0;
}
#portfolio p {
    text-align: center;
}
footer {
    background: none repeat scroll 0 0 #2E2E2E;
    color: white;
    display: block;
    margin-bottom: 10px;
    min-height: 100px;
    padding: 10px 0;
    padding-top:30px;
}
footer a {
    color: #EDD900;
    display:inline-block;
    padding-bottom:0.3em;
}
footer a:hover {
    color: #ffffff;
    text-decoration: none;
}
footer .title {
    font-family: 'league gothic';
    font-size: 36px !important;
}
.row {
    padding-bottom:50px;
}
.form-horizontal {
    margin-top: 10px;
}
.relative {
    position: relative;
}
.center {
    text-align: center;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
.links a {
    color: #498809;
    font-size: 16px;
}

.clean {
    clear:both;
}

.center p {
    margin:0 auto;
    text-align:center;
    text-align:center;
}


.row p {
    font-size:1.5em;
    line-height:1em;
    margin-bottom:1em;
}

h4.title {
    margin-top:0;
    font-size:2em;
    margin-bottom:0.3em;
}

p.subheading  {
    margin-bottom:0.3em;
    padding-bottom:0;
}
p.subheading a {
    font-size:0.8em;
}
#about .description {
    padding-bottom:0.5em !important;
}

#about .row p {
    margin-bottom:0 !important;
}
#services .description {
    bottom: 10px;
    position: relative;
    margin-top:0;
    padding:0;
    clear:both;
}

.team p {
    line-height:1.5em !important;
}

.news {
    display:inline;
    position:absolute;
    top:-30px;
    left:150px;
    font-size:1.2em !important;
}

.registration {
    margin-top:10px;
    margin-bottom:10px;
    font-size:2em;
    text-transform:uppercase;
    font-weight:bold;
}

.copyright {
    font-size:1.2em;
    padding-bottom:1em;
}

.team {
    margin-top:3em;
}
.team li {
    display:inline-block;
    font-size:1.6em;
    margin-right:1em;
    margin-bottom:1em;
    width:170pt;
}

.organizer {
    color:#000;
    border-bottom:2px dashed #000;
}

.organizer:hover {
    text-decoration:none;
    border-bottom:2px solid #000;
    color:#000;
}


#sponsor {
    background-color:#fff;
}
.partner {
    margin-bottom:5em;
}

.large {
    font-size:1.5em;
}

.middle {
    font-size:1.2em;
}