{% extends "admin/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block navbar %}{% endblock navbar %}
{% block content %}
  {% include "security/_messages.html" %}
  <div class="row">
    <div class="span8 offset4"><h1>Login</h1></div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="form-horizontal">
        {% for field in login_user_form -%}
          {% if field.type in ['HiddenField', 'CSRFTokenField'] -%}
            {{ field }}
          {%- elif field.type == 'BooleanField' -%}
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">{{ field }} {{ field.label.text }}</label>
            </div>
          </div>
          {%- elif field.type == 'SubmitField' -%}
          <div class="control-group">
            <div class="controls">{{ field(class='btn') }}</div>
          </div>
          {% else %}
          <div class="control-group">
            {{ field.label(class='control-label') }}
            <div class="controls">
              {{ field(class='input-large', placeholder=field.description) }}
            </div>
          </div>
          {%- endif %}
        {%- endfor -%}
      </form>
    </div>
  </div>
{% endblock content %}
