{% extends 'admin/base.html' %}
{% set page_title = "Sponsors list" %}
{% from "_macro.html" import admin_modal_form %}
{% block top_content %}
  <div class="row">
    <div class="span12">
      <h1>
        {{ page_title }}
        <small>
          <a class="pull-right" href="#addSponsor" data-toggle="modal">Add sponsor</a>
        </small>
      </h1>
    </div>
  </div>
{% endblock top_content %}

{% block content %}
<div class="row">
  {% for sponsor in models %}
    <div class="span6">
      <h4>{{ sponsor.name }}</h4>
      <p>{{ sponsor.description|safe }}</p>
      <p>
        <span class="label label-important"
              data-href="{{ url_for('.SponsorView', id=sponsor.id) }}"
              data-action='remove-sponsor'
              style="cursor: pointer;">remove</span>
      </p>
    </div>
  {% else %}
    <h3>No one gave its financial aid</h3>
  {% endfor %}
</div>
<!-- Modal  -->
{{ admin_modal_form('addSponsor', 'Add sponsor', form) }}
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
(function($) {
  $('[data-action=remove-sponsor]').on('click', function(event) {
    event.preventDefault();
    deffered = $.ajax({
      type: 'DELETE',
      url: $(event.currentTarget).data('href')
    }).then(function(data, status, jqXhr) {
      if(jqXhr.status == 204) {
        window.location = "{{ url_for('.SponsorView') }}";
      }
    });
  });
})(jQuery);
</script>
{% endblock %}
