{% extends 'admin/base_model_list.html' %}

{% set page_title = "Pages list" %}
{% set view_url = url_for('.PageView') %}
{% set item_url = url_for('.PageView') %}

{% block item_list %}
  {% for page in models %}
    {% if loop.index0 % 2 == 0 %}
      <div class="row">
    {% endif %}
    <div class="span6">
      <ul class="breadcrumb pull-left" data-url="{{ url_for('.PageView', id=page.id) }}"
        style="margin-right: 20px">
        <li>
          <a data-action='remove' title="remove" class="action" href="#">
            <i class="icon-remove"></i>
          </a>
        </li>
        <li>
          <a data-action='edit' title="edit" class="action" href="#">
            <i class="icon-pencil"></i>
          </a>
        </li>
      </ul>
      <h4>{{page.title}}</h4>
      <blockquote class="pull-right">
        <p>{{page.slug}}</p>
        <small>{{page.content}}</small>
      </blockquote>
    </div>
  {% if loop.index0 % 2 == 1 %}
    </div>
  {% endif %}
  {% else %}
    <h3>You should add some page to show</h3>
  {% endfor %}
{% endblock item_list %}
