{% extends 'admin/base.html' %}
{% set page_title = "Visitors – {}".format(visitors.count()) %}

{% from "_macro.html" import visit_state, visit_action, visit_confirm %}

{% block content %}
  <div class="row">
    <div class="span2">Approved - {{ approved }}</div>
    <div class="span2">Declined - {{ declined }}</div>
    <div class="span2">Confirmed -
      {% for id, num in confirmed.items() %}
      <i>#{{ id }}</i> &mdash; <strong>{{ num }}</strong>,
      {% endfor %}
    </div>
  </div>
  <hr>
  <div class="row" style="margin-bottom:10px;">
    <form action="/admin/visitors/confirm/" method="get">

    <div class="span3">
        <select name="id">
          <option value="">-- Select letter template --</option>
          {% for letter in letters %}
            <option value="{{ letter.id }}">{{ letter.subject }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="span2">
      <button type="submit" onclick="return confirm('Are you sure?');" class="btn btn-success">Request confirmation</button>
    </div>
    </form>
  </div>
  <div class="row">
  <table class="table table-hover visitors">
    <tbody>
      {% for visitor in visitors %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ visitor.name }}</td>
          <td>{{ visitor.position }}</td>
          <td>{{ visitor.company }}</td>
          <td>{{ visitor.tshirt_size }}</td>
          <td>{% if visitor.created_at %}{{ visitor.created_at.strftime("%b %d '%y") }}{% endif %}</td>
          <td class="visitor-action">
            <select name="id_{{ visitor.id }}" id="id_{{ visitor.id }}" style="font-size:12px; height:20px;">
              <option value="">-- Select letter template --</option>
              {% for letter in letters %}
                <option value="{{ letter.id }}">{{ letter.subject }}
                  {% if visitor.one_confirm(letter.id) %}
                    : sent
                    {% if visitor.one_confirm(letter.id).confirmed %}, confirmed{% endif %}
                  {% endif %}</option>
              {% endfor %}
            </select>
            {{ visit_confirm(visitor) }}
          </td>
          <td class="visitor-state" data-source="{{ url_for('.state', id=visitor.id) }}">{{ visit_state(visitor) }}</td>
          <td class="visitor-action" data-source="{{ url_for('.action', id=visitor.id) }}">{{ visit_action(visitor) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock content %}

{% block extra_js %}
{{ super() }}
<script type="text/javascript">
  var reactions = {
    approved: function($target) {
      var actionText = 'decline';
      $target.addClass('btn-inverse').text(actionText).data('action', actionText);
    },
    declined: function($target) {
      var actionText = 'approve';
      $target.addClass('btn-success').text(actionText).data('action', actionText);
    },
    confirmed: function($target) {
      return true;
    }
  };

  (function($) {
    $(function() {
      $('[rel=tooltip]').tooltip();

      $('table.visitors').on('click', 'a[data-action]', function(event) {
        event.preventDefault();

        var $target = $(event.currentTarget),
            url = event.currentTarget.href;

        $target.addClass('disabled');
        var data = $target.data();

        if (data.action === "confirmation") {
          data.letter = $("#id_" + data.visitor).val();
        }

        $.ajax({
          url: url,
          type: 'PUT',
          data: JSON.stringify(data),
          contentType: 'application/json',
          processData: false
        }).done(function(data, state, jqXhr) {
          $target.attr('class', 'btn btn-mini');
          try {
            var resp = reactions[data.response]($target);
          } catch(err) {
            console.warn('shit happens', err);
          }
          if (resp) {
            return;
          }
          // update state icon
          var $stateContainer = $target.closest('tr').find('.visitor-state');
          $.get($stateContainer.data('source'), function(data, state, jsXhr) {
            $stateContainer.html(data);
          });
          // need to refactor
          var $actionContainer = $target.closest('tr').find('.visitor-action');
          $.get($actionContainer.data('source'), function(data, state, jsXhr) {
            $actionContainer.html(data);
          });


        });
      });
    });
  })(jQuery);
</script>
{% endblock extra_js %}
