{% extends 'admin/base.html' %}
{% set page_title = "Sponsors list" %}
{% from "_macro.html" import admin_modal_form %}
{% block top_content %}
  <div class="row">
    <div class="span12">
      <h1>
        {{ page_title }}
        <small>
          <a class="pull-right" href="#addSponsor" data-toggle="modal">Add sponsor</a>
        </small>
      </h1>
    </div>
  </div>
{% endblock top_content %}

{% block content %}
  {% for sponsor in models %}
    {% if loop.index0 is divisibleby 2 %}
      <div class="row">
    {% endif %}
    {% set icon_hidden = sponsor.is_hidden and 'icon-eye-open' or 'icon-eye-close' -%}
    <div class="span6">
      <ul class="breadcrumb pull-left" data-url="{{ url_for('.SponsorView', id=sponsor.id) }}"
        style="margin-right: 20px">
        <li>
          <a data-action='remove-sponsor' title="remove" class="action" href="#">
            <i class="icon-remove"></i>
          </a>
        </li>
        <li>
          <a data-action='toggle-hide-sponsor' title="hide" class="action" href="#">
            <i class="{{icon_hidden}}"></i>
          </a>
        </li>
        <li>
          <a data-action='edit-sponsor' title="edit" class="action" href="#">
            <i class="icon-pencil"></i>
          </a>
        </li>
      </ul>
      <h4>{{ sponsor.name }}</h4>
      <blockquote class="pull-right">
        <p>{{ sponsor.description|safe }}</p>
      </blockquote>
    </div>
  {% if loop.index0 is not divisibleby 2 %}
    </div>
  {% endif %}
  {% else %}
    <h3>No one gave its financial aid yet</h3>
  {% endfor %}
<!-- Modal  -->
{{ admin_modal_form('addSponsor', 'Add sponsor', form) }}
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
(function($) {
  $('[data-action=remove-sponsor]').on('click', function(event) {
    event.preventDefault();
    var url = $(event.currentTarget).closest('ul.breadcrumb').data('url');
    console.log('url: ', url);
    // deffered = $.ajax({
    //   type: 'DELETE',
    //   url: $(event.currentTarget).data('href')
    // }).then(function(data, status, jqXhr) {
    //   if(jqXhr.status == 204) {
    //     window.location = "{{ url_for('.SponsorView') }}";
    //   }
    // });
  });
})(jQuery);
</script>
{% endblock %}
