<html>
<head>
    <title>Kyivjs: {{ page_title }}</title>
    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>
<body>

<div class="row">
    <div class="five columns">
        <div class="typography">
            <div class="logo">
                <div class="yellow-box"></div>
                <h1 class="black subheader huge"><a class="black" href="/">Kyiv.JS</a></h1>
            </div>
        </div>
    </div>
    <div class="seven columns navigation">
        <dl class="tabs">
            <dd><a href="#simple1">Доклады</a></dd>
            <dd><a href="/#media">Медиа</a></dd>
            <dd class="hide-for-small"><a href="#simple3">Партнеры</a></dd>
            <dd class="hide-for-small"><a href="#simple3">Организаторы</a></dd>
        </dl>
    </div>
</div>

{% block content %}
{% endblock content %}

<footer>
    <div class="row">
        <div class="five columns">
            <h4 class="subheader black">&copy; 2012-2013 <strong>CityConf</strong> Team</h4>
            <p>IT-конференции в разных городах Украины:<br />
                <a href="http://kyivjs.org.ua">Киев</a>,
                <a href="http://kharkivjs.com">Харьков</a>,
                <a href="http://lvivjs.org.ua">Львов</a>,
                <a href="http://odessajs.org.ua">Одесса</a>,
                <a href="http://dneprjs.org.ua">Днепропетровск</a></p>
        </div>
        <div class="five columns">
            <h5 class="subheader">
                Мы ищем докладчиков и спонсоров на конференцию
                <storng>KyivJS 2013</strong>, которая пройдет
                осенью 2013-го года
            </h5>
        </div>
    </div>
</footer>

{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
