{% extends "base.html" %}
{% block content %}

<div class="row reg">
    <h1>Registration</h1>
    <div class="five columns">

    <form id="reg-form" action="{{ url_for('.registration') }}" method="post">
      <fieldset>
      {%- for field in form -%}

        {% if field.type in ['HiddenField', 'CSRFTokenField'] %}
          {{ field }}
        {%- else %}

          {{ field.label(class='required') }}

          {% if field.errors %}
            {{ field(placeholder=field.description, class="error") }}
            <small class="error">{{ field.errors|join("; ") }}</small>
          {% else %}
            {{ field(placeholder=field.description) }}
          {% endif %}
        {%- endif -%}
      {% endfor -%}
      <br />
      <br />
        <button id="submit" type="submit" class="button success">Register</button>
        <br /><br />

      </fieldset>
    </form>
    </div>
</div>

{% endblock %}