{% extends "base.html" %}
{% set page_title = "Конференція Front-End розробників" %}

{% block content %}
                <div class="row">
                    <div class="span12">
                      <nav>
                        <div><a href="#topics" class="menu-item-wide active-narrow">Доповідачі</a></div>
                        <div><span class="separator">&ndash;</span></div>
                        <div><a href="#partners" class="menu-item-regular">Партнери</a></div>  <!-- Add active-regular class for active and hover -->
                        <div><span class="separator">&ndash;</span></div>
                        <div><a href="#location" class="menu-item-regular">Місце</a></div>  <!-- Add active-regular class for active and hover -->
                        <div><span class="separator">&ndash;</span></div>
                        <div><a href="#organizers" class="menu-item-wide">Організатори</a></div>  <!-- Add active-wide class for active and hover -->
                      </nav>
                    </div>
                </div>
            </header>
            <section id="topics" class="content">
                <div class="row">
                    <div class="span6">
                      <article class="people-info">
                        <aside><img src="/static/img/presenters/Artem Trityak.jpg"/></aside>
                        <h4><a target="_blank" href="http://github.com/artyomtrityak">Артем Тритяк</a></h4>
                        <p>Green Orange: Backbone.js, Require.js and Unit-Testing (Live Coding session)</p>
                      </article>
                      <article class="people-info">
                        <aside><img src="/static/img/presenters/Max Klymyshyn.jpg"/></aside>
            <h4><a target="_blank" href="https://twitter.com/maxmaxmaxmax">Максим Климишин</a></h4>
                        <p>The Third Party Widgets</p>
                      </article>
                      <article class="people-info">
              <aside><img src="/static/img/presenters/yehor_nazarkin.jpg"/></aside>
              <h4><a target="_blank" href="https://twitter.com/nimnull">Єгор Назаркін</a></h4>
              <p>Single page apps. The way we did</p>
                      </article>
                      <article class="people-info">
              <aside><img src="/static/img/presenters/Anton Yatsenko.jpeg"/></aside>
              <h4>Антон Яценко</h4>
              <p>Front-end driven development</p>
                      </article>

                    </div>
                    <div class="span6">
                      <article class="people-info">
                        <aside><img src="/static/img/presenters/Yuliya Puchnina.jpg"/></aside>
                        <h4>Юлія Пучніна</h4>
                        <p>Javascript Games for Dummies: Creation, Performance, Debug</p>
                      </article>
                      <article class="people-info">
                      <aside><img src="/static/img/presenters/Yehor Lvivski.png"/></aside>
                      <h4><a target="_blank" href="http://lvivski.com">Єгор Львівський</a></h4>
                      <p>Level Next Web Apps</p>
                      </article>
                      <article class="people-info">
              <aside><img src="/static/img/presenters/solovyov.jpg"/></aside>
              <h4><a target="_blank" href="http://solovyov.net/about/">Олександр Соловйов</a></h4>
              <p>Functional Reactive Programming</p>
                      </article>

                    </div>
        <div class="span12">
          <p>Незабаром буде більше...</p>
        </div>
                </div>
      </section>
{% endblock %}
