{% macro menu_item(url, title) -%}
<li {% if request.path == url %} class="active"{% endif %}><a href="{{url}}">{{title}}</a></li>
{%- endmacro %}

{% macro admin_modal_form(id, title, form, post_url) %}
<div class="modal hide fade" id="{{ id }}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{ title }}</h3>
  </div>
  <form class="form-horizontal" method="POST" action="{{ post_url }}" enctype="multipart/form-data">
    <div class="modal-body">
      {% for field in form %}
        {% if field.type in ['HiddenField', 'CSRFTokenField'] -%}
          {{ field }}
        {% else %}
        <div class="control-group">
          {{ field.label(class='control-label') }}
          <div class="controls">
            {{ field(class='input-xlarge', placeholder=field.description) }}
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal">Close</a>
      <button type="submit" href="#" class="btn btn-primary">Save changes</button>
    </div>
  </form>
</div>
{% endmacro %}

{% macro visit_state(visitor) %}
  {% if visitor.is_confirmed %}
    <a rel="tooltip" title="email confirmed"><i class="icon-envelope-alt"></i></a>
  {% elif visitor.is_confirmed and visitor.is_approved %}
    <a rel="tooltip" title="approved"><i class="icon-ok"></i></a>
  {% elif visitor.is_confirmed and visitor.is_declined %}
    <a rel="tooltip" title="declined"><i class="icon-minus"></i></a>
  {% else %}
    <a rel="tooltip" title="waiting"><i class="icon-question-sign"></i></a>
  {% endif %}
{% endmacro %}
