<!doctype html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Kharkiv JavaScript Conference</title>
	<link media="all" rel="stylesheet" href="css/all.css" />
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;subset=latin,cyrillic-ext' />
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic'>
	<script src="js/html5.js"></script>
	<script src="js/jquery-1.8.2.min.js"></script>
	<script src="js/jquery.main.js"></script>
</head>
<body>
	<div id="wrapper">
		<noscript><div>Javascript must be enabled for the correct page display</div></noscript>
		<div class="header-content">
			<header id="header">
				<section class="block">
					<strong class="logo"><a href="/">JS Kharkiv</a></strong>
					<div class="holder">
						<p>First Kharkiv JS will present talks and workshops about Html5 and JavaScript, the languages of the web. You'd get a chance to pick up with hipster's JS technology and proven solutions. </p>
						<!-- <a href="#" class="btn"><span class="r">Регистрация</span><span class="l"></span></a> -->
						<p>Technology stack: JavaScript, CoffeeScript, Backbone.js, Chaplin, HTML5, Sencha JS</p>
					</div>
				</section>
				<section class="title">
					<h1>Kharkiv JavaScript Conference 15 Dec. 2012</h1>
				</section>
				<nav>
					<ul id="nav">
						<li class="active"><a href="/">topics</a></li>
						<li><a href="partners.html">partners</a></li>
						<li><a href="places.html">location</a></li>
						<li><a href="organizer.html">organizers</a></li>
					</ul>
				</nav>
			</header>
		</div>
		<div id="main">
			<div id="content">
				<ul class="partaker-list">
					<li>
						<section>
							<h2><a href="#" class="opener">Paul Miller & Egor Nazarkin</a></h2>
							<figure class="visual">
								<!-- <img width="122" height="122" src="images/img-pt0.jpg" alt="some image" /> -->
							</figure>
							<strong class="info">Superior service-based web apps with Chaplin (Backbone) and Brunch</strong>
							<div class="slide">
								<p>Сhaplin.js is meta-frameword based on backbone.js. Architectural features. Why should you use it?</p>
							</div>
						</section>
					</li>
					<li>
						<section>
							<h2><a href="javascript:void( 0 )" class="opener">Julia Puchnina</a></h2>
							<figure class="visual">
								<!--<img width="122" height="122" src="images/img-pt0.jpg" alt="some image" />-->
							</figure>
							<strong class="info"> Javascript games for dummies: creation, performance, debug</strong>
							<div class="slide">
								<p>Follow the speech to create game using JavaScript. Review of the most common game engines</p>
							</div>
						</section>
					</li>
					<li>
						<section>
							<h2><a href="javascript:void( 0 )" class="opener">Yuriy Silvestrov & Mikhail Valkov</a></h2>
							<figure class="visual">
								<!--<img width="122" height="122" src="images/img-pt0.jpg" alt="some image" />-->
							</figure>
							<strong class="info">Prototyping app using JS and HTML5</strong>
							<div class="slide">
								<p>Please follow us to know all details</p>
							</div>
						</section>
					</li>
					<li>
						<section>
							<h2><a href="javascript:void( 0 )" class="opener">Yury Kremenchutsky, Artem Zakharcheko</a></h2>
							<figure class="visual">
								<!--<img width="122" height="122" src="images/img-pt0.jpg" alt="some image" />-->
							</figure>
							<strong class="info">Implementing Scalable Javascript Application</strong>
							<div class="slide">
								<p>Discover how to build a JavaScript application framework that scales for the challenges of today's complex web applications.</p>
							</div>
						</section>
					</li>
					<li>
						<section>
							<h2><a href="javascript:void( 0 )" class="opener">JavaScript Ninja</a></h2>
							<figure class="visual">
								<!--<img width="122" height="122" src="images/img-pt0.jpg" alt="some image" />-->
							</figure>
							<strong class="info">Waiting for guest from St. Petersburg Yandex's office</strong>
							<div class="slide">
								<p>Please follow us to know all details</p>
							</div>
						</section>
					</li>
					<!--<li>
						<section>
							<h2><a href="#" class="opener">Olexiy Slusarenko</a></h2>
							<figure class="visual">
								<!--<img width="122" height="122" src="images/img-pt0.jpg" alt="some image" /> 
							</figure>
							<strong class="info"> Introduction to Sencha Touch2</strong>
							<div class="slide">
								<p> Introduction to Sencha Touch2</p>
							</div>
						</section>
					</li> -->
				</ul>
			</div>
		</div>
		<div class="footer-content">
			<footer id="footer">
				<ul class="social-m">
					<li><a href="#" class="facebook">facebook</a></li>
					<li><a href="#" class="twitter">twitter</a></li>
				</ul>
				<div class="holder">
					<dl>
						<dt>email:</dt>
						<dd><a href="mailto:info@kharkivjs.com">info@kharkivjs.com</a></dd>
					</dl>
					<span class="copy">Copyright &copy; 2012  <span class="sep">Kharkiv JS </span></span>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>