{% extends "base.html" %}
{% set page_title = "Partners" %}

{% block content %}
<div class="partners">
	<section>
		 <p style='text-align:center'><a href="mailto:info@kharkivjs.com">info@kharkivjs.com</a> Want to be a sponsor?</p>
	</section>
	{% for kind, partners in kinds %}
	<div class="title">
		<div class="wrap">
			<span class="blank"></span><h2>{{kind}}</h2><span class="blank"></span>
		</div>
	</div>
		{% for company in partners %}
		<section>
			<a href="{{company.url}}">
				<img width="405" height="123" src="{{company.image}}" alt="{{company.name}}" class="alignleft" />
			</a>
			{{company.description|safe}}
		</section>
		{% endfor %}
	{% endfor %}
</div>
{% endblock content %}
