<html>
<head>
    <title>CityJS: Registraion successfully confirmed in current campaign</title>
    <link rel="stylesheet" type="text/css" href="/api/{{ url_for("static", filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span12">
            <h1>CityJS Registration Confirmation</h1>
            <br>
            <section>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">
                        <button type="button" class="close" data-dismiss="{{ category }}">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
              {% else %}
                <div class="alert alert-error">
                    <button type="button" class="close">×</button>
                    Looks like page was refreshed.
                </div>
              {% endif %}
            {% endwith %}
            </section>
            <br>
            <footer>
                <hr />
                <p>&copy; 2012 CityJS</p>
            </footer>
        </div>
    </div>
</div>
</body>
</html>