<table width="100%" align="center" width="400">
<tr>
    <td>
        <table width="100%" align="center" width="400">
            <tr>
                <td width="128">
                    <img width="128" height="128" src="http://kyivjs.org.ua/img/logo.png" />
                </td>
                <td>&nbsp;&nbsp;</td>
                <td>
                    <h1><a href="http://kyivjs.org.ua"><font color="#000000" size="8pt" face="arial">KyivJS</font></a></h1>
                    <p><font size="3pt" face="arial">Конференция для front-end разработчиков</font></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td width="100%">
        <br>
        <p><font size="3pt" face="arial">
        Привет, {{ name }}.
        <br>

        Мы рады сообщить, что регистрация на <strong>KyivJS</strong>
        пройдена успешно.
        <br><br>

        Будет послано еще два письма: первое подтверждение присутствия
        за 2 недели до конференции и второе - за 2 дня.

        </font></p>

        <p><font size="3pt" face="arial">
            Конференция пройдет в гостинице <a href="http://bratislava.com.ua">Братислава</a>,
            <a href="http://maps.yandex.ua/-/CVq3YPMF">стм. Дарница</a>
        </font></p>

        <p><font size="3pt" face="arial">
            Все самые важные и свежие новости в нашем
            <a href="http://twitter.com/KyivJS">Twitter</a>-е или
            <a href="http://kyivjs.org.ua">на сайте конференции</a>
        </font></p>
        <br>
    </td>
</tr>
<tr>
    <td bgcolor="#000000">
        <br>
        <font size="3pt" color="white" face="arial">
            &nbsp;&nbsp;&nbsp;&copy; 2012 KyivJS Team</font>
        <br><br>
    </td>
</tr>
</table>